@media (max-width: 800px) {
    
    #container {
        width: 40rem;
        height: 60rem;
    }
    h1 {
        font-size: 4rem;}

    #TaskList {
        width: 70%;
        max-width: 70%;
        margin-left: 5rem;
    }
    #Add_Task {
        width: 20%;
        height: 2.5rem; border-radius: 50%;}

    #new-task {
        margin-left: 170px;
        width: 50%;
        height: 5rem;
    }

}

@media (max-width: 480px) {
    #container {
        width: 25rem;
        height: 55rem;
    }
    h1 {
        font-size: 3.5rem;}

    #TaskList {
        width: 85%;
        max-width: 70%;
        margin-left: 3rem;
    }
    #Add_Task {
        width: 20%;
        height: 2.5rem; border-radius: 50%;}

    #new-task {
        margin-left: 100px;
        width: 50%;
        height: 6rem;
    }

}