@media (max-width: 768px) {
    
    #container {
        width: 40rem;
        height: 60rem;
    }
    h1 {
        font-size: 4rem;}

    #TaskList {
        width: 70%;
        max-width: 70%;
        margin-left: 5rem;
    }
    #Add_Task {
        width: 20%;
        height: 2.5rem; border-radius: 50%;}

    #new-task {
        margin-left: 150px;
        width: 50%;
        height: 5rem;
    }

}

@media (max-width: 480px) {
    #container {
        width: 90%;
        height: auto;
        max-width: 20rem;
        max-height: 20rem;
    }

    #TaskList {
        width: 90%;
        max-width: 100%;
    }

    #new-task {
        margin-left: 0;
        width: 80%;
    }
}