@media (max-width: 800px) {
    
    #container {
        width: 25rem;
        height: 40rem;
    }
    h1 {
        font-size: 4rem;}

    #TaskList {
        width: 74%;
        max-width: 75%;
        margin-left: 2rem;
    }
    #Add_Task {
        width: 20%;
        height: 2.5rem; border-radius: 50%;}

    #new-task {
        margin-left: 95px;
        width: 50%;
        height: 4rem;
    }

}

@media (max-width: 480px) {
    #container {
        width: 20rem;
        height: 36rem;
    }
    h1 {
        font-size: 3rem;}

    #TaskList {
        width: 80%;
        max-width: 78%;
        margin-left: 1rem;
    }
    #Add_Task {
        width: 20%;
        height: 2rem; border-radius: 50%;}

    #new-task {
        margin-left: 100px;
        width: 50%;
        height: 4rem;
    }

}